<div class="main">
  <!-- TODO add icons to details -->
  <h1> <%= @event.title %> </h1>
  <% if current_user == @event.user %>
    <span class="light">
      <%= link_to "Edit Event", edit_event_path(@event) %> |
      <%= link_to "Delete Event", event_path(@event), method: :delete %>
    </span><br>
  <% end %>
   <span>
   <%= @event.date.strftime("%A, %B %e")%>
   <% if @event.start %>
    , at <%= @event.start.strftime("%I:%M %p") %>
   <% end %>
     </span><br>
  <span><%= @event.location %></span><br>
 
 
  <h3>Description</h3>
  <p>
    <%= @event.description %>
    
  </p>
</div>

<div class="main">
<% if @attending %>
  Your RSVP: 
  <%= link_to "yes", 
    { controller: "attendings", action: "update", event: @event.id, rsvp: true }, 
    method: :patch %><br>
  Change to
    <%= link_to "no", 
    { controller: "attendings", action: "update", event: @event.id, rsvp: false }, 
    method: :patch %>


<% else %>
 Are you going?
  <%= link_to "yes", 
    { controller: "attendings", action: "create", event: @event.id, rsvp: true }, 
    method: :post, remote: true %>
   
   <%= link_to "no", 
      { controller: "attendings", action: "create", event: @event.id, rsvp: false },
        method: :post, remote: true %>
<% end %>      
        
        
        
        
  <h3>Attendees (<span id="attend-<%=@event.id %>"><%= @event.attendees.count%></span>)</h3>
  <% @event.attendees.each do |user| %>
    <p><%=  user.name %> </p>
  <% end %>
  
  
</div>


<div class="main">
  <h2> Comments </h2>
  
  <%= form_for @comment, url: comments_path, remote: true do |f| %>
    <%= f.text_area :content %><br>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.submit %>
  <% end %>
  <div id="comments-<%= @event.id %>">
    <% @event.comments.order('created_at DESC').each do |comment| %>
      <%= render partial: 'comment', locals: { comment: comment } %>
    <% end %>
  </div>
</div>

