<div class="main">
  <!-- TODO add icons to details -->
  <h1> <%= @event.title %> </h1>
  <% if current_user == @event.user %>
    <span class="light">
      <%= link_to "Edit Event", edit_event_path(@event) %> |
      <%= link_to "Delete Event", event_path(@event), method: :delete %>
    </span><br>
  <% end %>
   <span>
   <%= @event.date.strftime("%A, %B %e")%>
   <% if @event.start %>
    , at <%= @event.start.strftime("%I:%M %p") %>
   <% end %>
     </span><br>
  <span><%= @event.location %></span><br>
 
 
  <h3>Description</h3>
  <p>
    <%= @event.description %>
    
  </p>
</div>

<div class="main">
  Are you going?
  <!-- TODO add attending buttons -->
  <h3>Attendees (<%= @event.attendees.count%>)</h3>
</div>

