<h1>Invite people to <%= @event.title%></h1>

<%= form_tag(event_invitations_path(@event), method: :post) do %>
  <%= collection_check_boxes(:values, :user_ids, User.all, :id, :name) %>
  <%= hidden_field_tag(:event_id, @event.id) %>
  <%= submit_tag("submit") %>
<% end %>

